@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Kütüphanemiz

    Kütüphanemiz üniversitemizin öğretim elemanları, öğrenci ve personelinin; eğitim, öğretim, araştırma programlarını desteklemek ve boş zamanlarını değerlendirmeleri için her türlü bilgiyi ve bilgi kaynaklarını toplayıp kullanıcıların hizmetine en iyi şekilde sunan merkezdir.

    Sakarya Üniversitesi Merkez Kütüphanesi 10.000 m2 lik alanda aynı anda 1.300 kişiye 7/24 hizmet vermektedir. Birinci katta süreli yayınlar, çalışma salonu ve referans bölümü (ansiklopediler, tezler vb.) ve gazete okuma bölümü; ikinci katta kitaplar, sözlükler ve Atatürk Kitaplığı'ndan oluşan koleksiyon; üçüncü katta Okuma Salonu, Görsel-İşitsel Bölümü ve internet salonu dördüncü katında ise Bireysel Çalışma Salonu bulunmaktadır. Ayrıca kütüphanenin her katında kablosuz internet erişimi mevcuttur.

    Kütüphanede mevcut bütün materyaller Yordam Kütüphane Bilgi-Belge Otomasyon programı kullanılarak elektronik ortama aktarılmış ve internet üzerinden kullanıcıların hizmetine sunulmaktadır. Kütüphanemiz, Üniversitemiz öğrencilerine akademik ve idari personeline referans kaynakları dışındaki bilgi kaynakları ödünç vermektedir. Öğretim elemanları talep ettikleri takdirde yurtiçi üniversite kütüphanelerinden ödünç kitap ve makale fotokopisi temin edilmektedir.

    Kütüphanemiz www.kutuphane.sakarya.edu.tr web adresinden bilgi kaynaklarına ve kütüphane ile ilgili diğer bilgilere erişilebilirsiniz.
</p>
