@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sakarya Universitesi Ana Kampus<br />
    Serdivan/Sakarya<br />
    <abbr title="Phone">P:</abbr>
    90 (264) 295 54 54
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">bilgi@sakarya.edu.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com"> kutuphane@sakarya.edu.tr </a><br />
</address>