@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="row">
    <p>



    </p>
    <div class="col-md-1" style="margin-right: 5px;">
        <a href="https://kutuphane.sakarya.edu.tr/tr" title="Sakarya Üniversitesi" rel="home">
            <img style="margin-bottom: 12px;" src="https://kutuphane.sakarya.edu.tr/assets/saudairebaskanligi/images/img_saulogo.png" alt="Sakarya Üniversitesi" width="56">
        </a>
    </div><!-- Burası degiscek -->
    <div class="col-md-10">
        <a href="https://kutuphane.sakarya.edu.tr/tr" title="Sakarya Üniversitesi" rel="home">
            <span style="font-size: 24px; line-height: 22px; font-family: times new roman; font-weight: bold;"> SAKARYA ÜNİVERSİTESİ </span>
            <br>
            <span style="font-size: 16px; line-height: 18px; font-family: times new roman;"> Kütüphane ve Dokümantasyon Daire Başkanlığı </span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Uzaktan Erişim Rehberi</h2>
        <p>
            Değerli kullanıcılarımız, uzaktan erişebileceğiniz ve ihtiyaç duyabileceğinizi 
            düşündüğümüz kısa yolları ve kaynakları sizin için bir araya getirdik.
            Bu kaynaklara aşağıdaki linkten ulaşabilirsiniz.
<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Eğitim Fakültesi Kütüphanesi</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kampus Dışı Erişim</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Kütüphane Hakkında</h4>
                    <ul class="list-links">
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/10961/43223/hizmet-envanteri" target="_self">Hizmet Envanteri</a>
                        </li>
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/10959/43344/hizmet-standartlari" target="_self">Hizmet Standartları</a>
                        </li>
                        <li>
                            <a href="http://w3.sakarya.edu.tr/yordambt/yordam.php?sayfaOturumAc" target="_blank">Anket</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">SAÜ Yayınları</h4>
                    <ul class="list-links">
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/10984/43267/sau-yayinlari" target="_self">SAÜ Yayınları</a>
                        </li>
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/10985/43268/yayin-satis-islemleri" target="_self">Yayın Satış İşlemleri</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Site Haritası</h4>
                    <ul class="list-links">
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/11062/43550/site-haritasi" target="_self">Site Haritası</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Sıkça Sorulan Sorular</h4>
                    <ul class="list-links">
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/10967/43228/sss-sikca-sorulan-sorular" target="_self">SSS - Sıkça Sorulan Sorular </a>
                        </li>
                        <li>
                            <a href="https://kutuphane.sakarya.edu.tr/tr/icerik/11061/43224/yayin-bagis-kriterleri" target="_self">Yayın Bağış Kriterleri</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="bottom-footer">
            <div class="row">
                <!-- /.col-md-5 -->
                <div class="col-md-8"></div>
                <!-- /.col-md-7 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.bottom-footer -->
    </div>
    <!-- /.container -->
</footer>